/* Media without width */

@media (max-width: 1000px) {
	body {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap-reverse;
		justify-content: center;
		align-items: stretch;

		font-size: 1.2em;
	}
	body > aside {
		justify-content: center;
		align-items: center;
	}
	body > aside nav ul {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		justify-content: stretch;

		padding: .5vw;
	}
	body > aside ul > li {
		width: 96%;
		margin: 2%;

		text-align: center;
	}

	input, a, button {
		margin-top: 1.5vh;
		margin-bottom: 1.5vh;
	}

	img {
		min-width: 50vw;
	}

	main {
		margin-left: 0;
		margin-right: 0;
	}

	main section {
		margin-left: 0;
		margin-right: 0;
	}

	form button {
		max-width: 30vw;
	}
}
