/* Media without width */

@media (max-width: 1000px) {
	body {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: stretch;
	}

	body > aside {
		justify-content: center;
		align-items: center;
	}
	body > aside ul > li {
		margin: 2%;
	}
}
